.list-group-item.bg-light {
    background-color: #a7bcd1 !important;
    border-top: 1px solid #dee2e6;
    font-weight: 600;
}

.text-danger[title="Wajib diisi"] {
  font-weight: bold;
  margin-left: 4px;
  cursor: help;
}


  #modalRender .card {
    border-radius: 10px;
    border: 1px solid #dee2e6;
  }
  #modalRender .card-header {
    font-size: 1.05rem;
  }
  #modalRender label.form-label {
    display: block;
    margin-bottom: 0.3rem;
  }